/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$base3};
  --global-code-bg-color: #{$base2};
  --global-text-color: #{$base00};
  --global-text-color-light: #{$base1};
  --global-text-color-dark: #{$base01};
  --global-theme-color: #{$purple-color};
  --global-hover-color: #{$purple-color};
  --global-hover-text-color: #{$base03};
  --global-footer-bg-color: #{$base2};
  --global-footer-text-color: #{$base00};
  --global-footer-link-color: #{$blue};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #{$base1};
  --global-card-bg-color: #{$base3};
  --global-highlight-color: #{$red-color-dark};
  --global-back-to-top-bg-color: rgba(#{color.channel($base01, "red", $space: rgb)},
    #{color.channel($base01, "green", $space: rgb)},
    #{color.channel($base01, "blue", $space: rgb)},
    0.4);
  --global-back-to-top-text-color: #{$base3};
  --global-newsletter-bg-color: #{$base3};
  --global-newsletter-text-color: #{$base01};

  --global-tip-block: #{$base02};
  --global-tip-block-bg: #{$base2};
  --global-tip-block-text: #{$base01};
  --global-tip-block-title: #{$base03};
  --global-warning-block: #{$orange};
  --global-warning-block-bg: #{$base3};
  --global-warning-block-text: #{$base01};
  --global-warning-block-title: #{$base01};
  --global-danger-block: #{$red};
  --global-danger-block-bg: #{$base2};
  --global-danger-block-text: #{$base01};
  --global-danger-block-title: #{$red};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: block;
  }

  .only-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$base03};
  --global-code-bg-color: #{$base02};
  --global-text-color: #{$base0};
  --global-text-color-light: #{$base1};
  --global-text-color-dark: #{$base01};
  --global-theme-color: #{$purple-color};
  --global-hover-color: #{$purple-color};
  --global-hover-text-color: #{$base1};
  --global-footer-bg-color: #{$base02};
  --global-footer-text-color: #{$base01};
  --global-footer-link-color: #{$blue};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #{$base01};
  --global-card-bg-color: #{$base02};
  --global-back-to-top-bg-color: rgba(#{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5);
  --global-back-to-top-text-color: #{$base03};
  --global-newsletter-bg-color: #{$base02};
  --global-newsletter-text-color: #{$base0};

  --global-tip-block: #{$base01};
  --global-tip-block-bg: #{$base2};
  --global-tip-block-text: #{$base00};
  --global-tip-block-title: #{$base01};
  --global-warning-block: #{$yellow};
  --global-warning-block-bg: #{$base3};
  --global-warning-block-text: #{$yellow};
  --global-warning-block-title: #{$yellow};
  --global-danger-block: #{$red};
  --global-danger-block-bg: #{$base3};
  --global-danger-block-text: #{$red};
  --global-danger-block-title: #{$red};

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
