/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Solarized colorscheme
$base03: #002b36 !default;
$base02: #073642 !default;
$base01: #586e75 !default;
$base00: #657b83 !default;
$base0: #839496 !default;
$base1: #93a1a1 !default;
$base2: #eee8d5 !default;
$base3: #fdf6e3 !default;
$yellow: #b58900 !default;
$orange: #cb4b16 !default;
$red: #dc322f !default;
$magenta: #d33682 !default;
$violet: #6c71c4 !default;
$blue: #268bd2 !default;
$cyan: #2aa198 !default;
$green: #859900 !default;

// Colors
$red-color: $red;
$red-color-dark: $red;
$orange-color: $orange;
$blue-color: $blue;
$blue-color-dark: $blue;
$cyan-color: $cyan;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: $green;
$green-color-lime: $green;
$green-color-dark: $green;
$green-color-light: $green;
$green-color-bright: $green;
$purple-color: $violet;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: $magenta;
$light-pink-color: color.adjust($pink-color, $lightness: 25%);
$yellow-color: $yellow;

$grey-color: #828282 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1c1c1d;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
